.Box {
    border: solid 2px red;
    margin: 30px;
    width: 130px;
    height: 130px;
    display: inline-block;
}

.Box2 {
    border: solid 2px red;
    margin: 30px;
    width: 130px;
    height: 130px;
    position: fixed;
    display: inline-block;
    top: 50%;
    left: 30%;
}

.InnerBox {
    border: solid 1px green;
    margin: 10px;
    width: 80px;
    height: 80px;
    margin: 18%;
}

.Box--rounded {
    border-radius: 50%;
}

.ThickBorder {
    border-width: 4px;
    position: fixed;
    top: 50%;
    left: 50%;
}
